header, nav, main, footer {

    max-width: 60rem;
   
    margin: auto;
}
header {
    
    h1 {
        
        font-size: 2.5rem;   
    }   
    
      }
      nav ul li a {
        padding: .7rem 2rem;
        font-size: .8rem;
      }

      // organizacion de tarjetas 
.parent1 {
    margin: 0 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 20px;
    div {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 250px;
    }
}

// termina organizacion

nav {
button { display: none;}


/* si no incluyo ul.abrir no respeta flex y hace lo mismo que hamburger menu  */
    ul, ul.abrir {
        
        display: flex;
        justify-content: flex-start;
        border: none;
        margin-left: 2vw;
    
 
    }
 
    ul li a {
     border: none;
    }
    ul li {
        border: none;
    }
    }


    .allcards {
        
     
        section {
           flex-basis: calc(33.3333% - (($gutter*2)/3));
        }
     }

    
     footer div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
     }

     .hero p { position: absolute; 
        top: 50%; 
       
        color: white ; 
        /*background: #d3d3d3;*/
        margin: 0;
        font-size: 49px;
        padding: 0 5px;
        
        
    }  

    h3 { 
        font-size: 35px; }