$headerColor: #bcbccc;
$menuColor: #dfb88c;
$backColor: #e3e1dd;
$nameColor: #4c525c;
$menu1Color: #202c32;
$h1Color: #2b4251;
$h2Color: #5b7d87;
$decoColor: #cdbda7;

$titleFont: "Abril Fatface", serif;

$textFont: "Urbanist", sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;